
/* Estilo geral da seção de contato */
.contato-content {
    display: flex;
    flex-direction: column; /* Alinha os itens em uma coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;
    min-height: 100vh; 
    background-color: var(--cor-fundo--); 
}
.contato h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg,var(--cor-roxo-1--), var(--cor-roxo-6--), var(--cor-roxo-4--));
    background-size: 300% 300%;
    animation: gradientShift 4s infinite; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    transition: transform 0.3s ease, color 0.3s ease;
}
.formulario {
    padding: 1.5em; /* Reduz o espaçamento interno */
    border-radius: 20px; /* Ajusta os cantos arredondados */
    /* background-color: var(--cor-roxo-1--); */
    background: linear-gradient(50deg, var(--cor-roxo-3--), var(--cor-roxo-4--));

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%; /* Reduz a largura inicial */
    max-width: 300px; /* Define um limite máximo de largura */
    
}
h4 {
    font-size:1.2em;
    color: var(--letras--);
    font-weight: 700;
    text-align: center;
    text-shadow: #000000 1px 0px;
    text-transform: uppercase;
}
form div {
    margin-bottom: 0.5em;
}
label {
    text-align: left;
    color: var(--letras--);
    font-weight: light;
}

input, textarea, select {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #DBDBDB;
    border-radius: 15px;
    color: var(--cor-fundo--);
    padding: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 1.1em;
}
input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    outline: none;
    background-color: var(--letras--);
}
input::placeholder, textarea::placeholder {
    color: var(--cor-fundo--);
    font-style: italic;
}
select {
    padding: 10px;
    border-radius:15px;
}
option {
    font-size: 14px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius:40px;
    background-color: #fff;
    padding: 20px;
    margin: 2px;
}
.button {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.button button {
    border-radius: 15px;
    background-color: var(--letras--);
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    font-size: 1em;
    font-weight: bold;
}

.button button:hover {
    background-color: var(--cor-roxo-4--);
    transform: scale(1.05);
    color: #fff;

}

.button button:active {
    background-color: rgb(54, 27, 163);
    transform: translateY(2px);
}

/* @media (max-width: 600px) {
    .contato h1 {
        font-size: 2.5rem;
        padding: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 1.0;
    }
    .formulario {
        padding: 0.9em; 
        max-width: 70%; 
    }
    h4 {
        font-size: 0.9em; 
    }

    input, textarea, select {
        font-size: 0.5em; /
    }

    .button {
        font-size: 1.2em; 
        padding: 0.1em 0.5em; 
    }
}

@media (max-width: 900px) {
    .formulario {
        padding: 2em; 
        width: 80%; 
    }

    h4 {
        font-size: 1.3em; 
    }

    input, textarea, select {
        font-size: 1.1em; /
    }

    button {
        font-size: 1.3em; 
        padding: 1em 1.5em; 
    }
}

@media (min-width: 1200px) {
    .formulario {
        padding: 2em; 
        width: 50%; 
    }

    h4 {
        font-size: 1.5em; 
    }

    input, textarea, select {
        font-size: 1.2em; 
    }

    button {
        font-size: 1.4em; 
        padding: 1.2em 1.8em; 
    }
} */


/* .container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font: 1em Roboto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #DBDBDB;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #DBDBDB;
}

.container input:checked ~ .checkmark {
    background-color: var(--cor-rosa--);
}

.checkmark:after {
    content: "";
    position: fixed;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}  */
