.navbar {
    display: flex;
    justify-content: center; /* Alinha os itens da navbar ao centro */
    background-color: var(--fundo--claro);
    padding: 1px;
    font-size: 0.9em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 50%; /* Centraliza a posição horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para ficar centralizado */
    width: auto;
    z-index: 1000;
    border-radius: 15px;
    top: 10px;
    height: auto;
    flex: content;
}


.itens {
    display: flex;
    list-style: none;
    justify-content: center;
}
.itens li{
    position: relative;
}


.itens a {
    position: relative; /* Necessário para o posicionamento absoluto do marcador */
    padding-bottom: 5px; 
    margin: 0 18px;
    text-decoration: none;
    color: var(--letras--);
    font-size: 1.5em;
    font-weight: 400;
    justify-content: center;

}
.tooltip {
    position: absolute;
    top: 140%; /* Exibe acima do ícone */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition:  0.2s ease, visibility 0.5s ease;
    pointer-events: none;
    
}
.itens li:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.itens a.active::after {
    content: '';
    position: absolute;
    width: 100%; /* Largura do marcador */
    height: 4px; /* Altura do marcador */
    background-color: var(--cor-roxo-1--); /* Cor de destaque para a seção ativa */
    left: 0;
    bottom: 0; /* Alinha o marcador com a base do item */
    transition: width 0.3s ease, height 0.3s ease;
}


.itens a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background-color: var(--cor-roxo-1--);
    left: 0;
    bottom: -5px;
    transition: width 0.2s ease;
    border-radius: 3px;
}

.itens a:hover::after {
    width: 100%;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

@media (max-width: 600px) {
    .navbar {
        top: 10px;
        margin-left: 130px; 
        margin-right: 10px; 
       
    }

    .itens {
        display: none;
        flex-direction: column;
        position:absolute ;
        gap: 10px;
        background-color: var(--fundo--claro);
        margin-top: 60px;
        padding: 1px;
        border-radius: 15px;
    }

    .menu-toggle {
        display: block; 

        font-size: 1.5em;
        cursor: pointer;
        color: #ffffff;
        border-radius: 15px;
    }
}


@media (max-width: 900px) {
    .navbar {
        padding-top: 10px;
        font-size: 1.2em;
        
    }

    .itens {
        background-color: var(--fundo--claro);
        border-radius: 15px;
        padding: 1px;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .navbar {
        font-size: 0.8em;
        display: flex; /* Ativa o Flexbox */
        align-items: center; /* Centraliza verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
        padding: 15px 0; /* Aumenta o espaço interno na vertical */
        min-height: 10px; /* Define uma altura mínima para a navbar */
    }

    .itens {
        display: flex; /* Torna os itens uma linha flexível */
        gap: 2px; /* Espaçamento entre os itens */
        list-style: none; /* Remove os marcadores padrão da lista */
        padding: 0; /* Remove o padding padrão */
        margin: 0; /* Remove a margem padrão */
    }

    .itens li {
        text-align: center; /* Garante alinhamento central nos itens */
        padding: 1px;
    }
}


@media (max-width: 600px) {
    .menu-toggle {
        display: block; 
    }

    .itens.active {
        display: flex; 
    }
}