.projetos-content {
    display: flex;
    flex-direction: column; /* Alinha os itens em uma coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;
    gap: 5px; 
    min-height: 100vh; 
    background-color: var(--cor-fundo--); 
}
.projetos-content h1{
    text-align: center;
    font-size: 4.4rem;
    margin-bottom:1px;
    background: linear-gradient(90deg,var(--cor-roxo-1--), var(--cor-rosa--));
    background-size: 300% 300%;
    animation: gradientShift 4s infinite; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    transition: transform 0.3s ease, color 0.3s ease;
}
.projetos-content p{
    font-size: 1.5rem;
    color: var(--cor-cinza-p--);
    text-align: center;
    margin-top: 1px;
}
.projetos-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: var(--cor-fundo--);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.5rem;
    color: var(--cor-roxo-1--);
    margin: 10px 0;
}

.card p {
    font-size: 1rem;
    color: var(--cor-cinza-p--);
    margin: 10px 15px;
}

.card .btn {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--cor-roxo-1--);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: var(--cor-roxo-6--);
}
@media (max-width: 600px) {
    .projetos-content {
        display: flex;
        flex-direction: column; /* Alinha os itens em uma coluna */

    }
    .projetos-content h1{
        text-align: center;
        font-size: 2.5em;
        background: linear-gradient(90deg,var(--cor-roxo-1--), var(--cor-rosa--));
        background-size: 300% 300%;
        animation: gradientShift 4s infinite; 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        transition: transform 0.3s ease, color 0.3s ease;
    }
    .projetos-content p{
        font-size:0.9em;
        color: var(--cor-cinza-p--);
        text-align: center;
        margin-top: 0;
    }

    .card img {
        height: 150px;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .card .btn {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}
@media (max-width: 900px) {
    .projetos-content h1 {
        font-size: 3rem;
    }
    .projetos-content p {
        font-size: 1.2rem;
    }
    .slider {
        width: 90%;
        height: 300px;
    }
    .manual-navigation {
        width: 90%;
    }
    .navigation-auto {
        width: 90%;
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .projetos-content h1 {
        font-size: 4rem;
    }
    .projetos-content p {
        font-size: 1.3rem;
    }
    .slider {
        width: 80%;
        height: 350px;
    }
}
@media (min-width: 1201px) {
    .projetos-content h1 {
        font-size: 5rem;
    }
    .projetos-content p {
        font-size: 1.5rem;
    }
    .slider {
        width: 800px;
        height: 400px;
    }
} 