.linguagens-content{
    display: flex;
    flex-direction: column; 
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
}
.linguagens h1 {
    font-size: 3.0rem; /* Define o tamanho do título da seção */
    margin-bottom: 20px; /* Adiciona espaçamento inferior ao título */
    background: linear-gradient(50deg,var(--cor-roxo-1--), var(--cor-roxo-8--), var(--cor-verde-agua--));
    background-size: 300% 300%;
    animation: gradientShift 4s infinite; /* Aplica o gradiente animado */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para exibir o gradiente */
    transition: transform 0.3s ease, color 0.3s ease; /* Animações ao passar o mouse */
}
.linguagem i {
    font-size: 3.0rem; 
    color: var(--letras--); 
    margin: 10px;
}
.linguagens-ferramentas {
    display: flex; 
    flex-wrap: wrap; /* Permite que os elementos se ajustem automaticamente em várias linhas */
    gap: 15px; 
    padding: 50px; 
    justify-content: center; 
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
}
.linguagem {
    flex: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: auto;
    padding: 5px;
    border: 2px solid var(--cor-roxo-1--); 
    border-radius: 10px;
    text-align: center; 
    transition: all 0.4s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.card1:hover {
    border-color: var(--cor-roxo-1--); 
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3); 
    transform: translateY(-10px); 
}
.card1 i {
    font-size: 60px; 
    color: var(--letras--); 
}
.card1 h2 {
    margin-top: 5px; 
    font-size: 18px; 
    color: var(--letras--); 
}
.community-stats {
    display: flex; 
    justify-content: center; 
    gap: 50px; 
    margin-top: 30px; 
}
.stat {
    text-align: center;
}
.stat h2 {
    font-size: 3.0rem; 
    margin-bottom: 1px;
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, var(--cor-roxo-1--), var(--cor-rosa--));
    background-size: 100%; 
    -webkit-background-clip: text; 
    animation: fadeBackground 5s infinite alternate; 
    transition: all 1s ease-in-out; 
    margin-top: 5px;
}
.stat p {
    font-size: 1.4rem; 
    color: var(--cor-cinza-p--);
    margin-top: 1px;
}
@media (max-width: 600px) {
    .linguagens-content{
        padding: 2px;
        flex-direction: column;
        align-items: center;
    }
    .linguagens h1 {
        font-size:1.5rem;
        margin-top: 60px;
        line-height: 1.2;
        margin-bottom: 0;
    }
    .card1 {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.5rem;
        min-width: 120px;
        min-height: 70px;
    }
    .card1 i {
        font-size: 1.5rem;
        color: var(--letras--);
    }
    .community-stats {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .stat {
        text-align: center;
    }
    .stat h2 {
        font-size: 2.0rem;
    }
    .stat p {
        font-size: 0.9rem; 
        color: var(--cor-cinza-p--);
        text-align: center;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .linguagens h1 {
        font-size: 3rem;
    }
    .linguagens-ferramentas {
        padding: 30px;
    }
    .card1 {
        width: 130px;
    }
    .community-stats {
        margin-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    .stat {
        text-align: center; 
    }
    .stat h2 {
        font-size: 1.5rem;
    }
    .stat p {
        font-size: 1.2rem; 
        color: var(--letras--); 
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .linguagens h1 {
        font-size: 6rem;
    }
    .linguagens-ferramentas {
        padding: 100px;
    }
    .card1 {
        width: 220px;
    }
    .stat h2 {
        font-size: 6rem;
    }
} 

@media (min-width: 1201px) {
.linguagens h1 {
        font-size: 6rem;
    }
    .linguagens-ferramentas {
        padding: 100px;
    }
    .card1 {
        width: 220px;
    }
    .stat h2 {
        font-size: 6rem;
    }
} 