.sobre h1 {
    font-size: 10.1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg,var(--cor-roxo-1--) , var(--cor-rosa--));
    -webkit-background-clip: text;
    animation: fadeBackground 5s infinite alternate;
    margin-top: auto;
    margin-bottom: 0; /* Remove o espaçamento inferior */
    line-height: 1.0;
}

.sobre h2{
    font-size: 10.1rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.0;
    margin-top: 0; /* Remove o espaçamento superior */
    margin-bottom: 40px; /* Adiciona um pequeno espaçamento inferior */
}
.sobre p {
    font-size: 1.8em; /* Tamanho da fonte */
    font-family: "Poppins", serif; /* Família da fonte */
    font-weight: 400; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
    color: var(--cor-cinza-p--); /* Cor do texto */
    margin: 0; /* Remove margens externas */
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
    text-align: justify; /* Justifica o texto */
    max-width: 800px; /* Define uma largura máxima para o parágrafo */
    width: 100%; /* Garante que o parágrafo ocupe todo o espaço disponível */
    word-wrap: break-word; /* Quebra palavras longas */
    white-space: normal; /* Permite quebra de linhas */
}

.sobre-content {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Espaça os itens horizontalmente */
    padding: 300px;
    gap: 20px; /* Espaçamento entre os itens */
}
.sobre-img-div {
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border-radius: 20px;
    border-style: outset;
    border-width: 10px;
    animation: pulsar 2s infinite; /* Aplica a animação */
    max-width: 500px;
    width: 100%;
    
}
.sobre-img-div img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border-style: outset;
    border-width: 5px;
    animation: pulsar 2s infinite; /* Aplica a animação */
}

.sobre {
    background-color: var(--fundo--); /* Cor de fundo para destacar */
    padding: 30px 60px;
    color: var(--letras--);
}


.social-icon-sobre i {
    font-size: 3.6rem; /* Tamanho do ícone */
    background: linear-gradient(50deg, var(--cor-roxo-1--), var(--cor-rosa--));
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    color: transparent; /* Torna o texto transparente para exibir o gradiente */
    animation: fadeBackground 5s infinite alternate; /* Aplica a animação */
    margin: 0 15px; /* Espaçamento entre ícones */
    transition: transform 0.3s; /* Animação ao passar o mouse */
    margin-top: 30px;
}

.social-icon-sobre i:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}

@keyframes fadeBackground {
    0% {
        background-position: 0% 50%;
        opacity: 0.3;
    }
    50% {
        background-position: 50% 50%;
        opacity: 0.8;
    }
    100% {
        background-position: 100% 50%;
        opacity: 0.3;
    }
}
@keyframes pulsar {
    0% {
        border-color:var(--cor-roxo-2--);
    }
    50% {
        border-color:var(--cor-roxo-1--);
    }
    100% {
        border-color: var(--cor-roxo-3--);
    }
}
/* Media Queries */
@media (max-width: 1200px) {
    .sobre-content {
        padding: 150px;
        flex-direction: column;
        align-items: center;
    }

    .sobre h1, .sobre h2 {
        font-size: 6rem;
    }

    .sobre p {
        font-size: 1.4em;
        max-width: 90%;
    }

    .sobre-img-div {
        max-width: 600px;
    }
}

@media (max-width: 900px) {
    .sobre-content {
        padding: 100px;
        flex-direction: column;
        align-items: center;
    }

    .sobre h1, .sobre h2 {
        font-size: 4.5rem;
    }

    .sobre p {
        font-size: 1.2em;
        max-width: 90%;
    }

    .sobre-img-div {
        max-width: auto;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .sobre-content {
        padding: 50px;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .sobre h1, .sobre h2 {
        font-size: 3.5rem;
    }

    .sobre p {
        font-size: 1em;
        max-width: 90%;
    }

    .sobre-img-div {
        max-width: 250px;
        margin-top: 10px;
    }
}

@media (min-width: 1920px) {
    .sobre-content {
        padding: 350px;
    }

    .sobre h1, .sobre h2 {
        font-size: 12rem;
    }

    .sobre-img-div {
        max-width: 600px;
    }
}