.sobre-content {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Espaça os itens horizontalmente */
    gap: 60px; /* Espaçamento entre os itens */
    min-height: 100vh; /* Ocupa a altura total da tela */
    
}

.sobre h1 {
    font-size: 5.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg,var(--cor-roxo-1--) , var(--cor-roxo-3--),var(--cor-roxo-7--));
    background-size: 300% 300%;
    animation: gradientShift 10s infinite; /* Aplica o gradiente animado */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para exibir o gradiente */
    transition: transform 0.3s ease, color 0.3s ease; /* Animações ao passar o mouse */
    margin-top: 2px;
    margin-bottom: 0; /* Remove o espaçamento inferior */
    line-height: 1.0;
    letter-spacing: 1px;
}

.sobre h2{
    font-size: 5.6rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.0;
    margin-top: 0; /* Remove o espaçamento superior */
    margin-bottom: 8px; /* Adiciona um pequeno espaçamento inferior */
}
.sobre p {
    font-size: 1.4em; /* Tamanho da fonte */
    font-family: "Poppins", serif; /* Família da fonte */
    font-weight: 400; /* Peso da fonte */
    color: var(--cor-cinza-p--); /* Cor do texto */
    margin: 0; /* Remove margens externas */
    line-height: 1.2; /* Ajusta o espaçamento entre linhas */
    text-align: justify; /* Justifica o texto */
    max-width: 370px; /* Define uma largura máxima para o parágrafo */
    width: 100%; /* Garante que o parágrafo ocupe todo o espaço disponível */
    word-wrap: break-word; /* Quebra palavras longas */
    white-space: normal; /* Permite quebra de linhas */
    margin-top: 2px;
    letter-spacing: 1px;


}



.sobre-img-div {
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 20px;
    border-radius: 20px;
    border-style: outset;
    border-width: 10px;
    animation: pulsar 2s infinite; /* Aplica a animação */
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    
}
.sobre-img-div img {
    width: auto;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    animation: pulsar 5s infinite;
    display: block;
    box-shadow: inset  0 0 50px rgba(0, 0, 0, 0.5);
}
.social-icons{
    position: absolute; /* Posiciona em relação ao .sobre-img-div */
    bottom: 10px; /* Fica próximo da borda inferior */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o centro exato */
    display: flex; /* Alinha os ícones em linha */
    gap: 15px; /* Espaçamento entre os ícones */
    background-color: rgba(0, 0, 0, 0.621); /* Fundo semitransparente */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
}
.social-icons i {
    font-size: 2.5rem; /* Tamanho dos ícones */
    background: linear-gradient(90deg,var(--cor-roxo-4--) , var(--cor-roxo-6--));
    background-size: 300% 300%;
    animation: gradientShift 5s infinite; /* Aplica o gradiente animado */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para exibir o gradiente */
    transition: transform 0.3s ease, color 0.3s ease; /* Animações ao passar o mouse */
}

.social-icons i:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
    color: var(--cor-cinza-p--); /* Muda a cor do ícone ao passar o mouse */
}

/* Animação do gradiente */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



@keyframes fadeBackground {
    0% {
        background-position: 0% 50%;
        opacity: 0.3;
    }
    50% {
        background-position: 50% 50%;
        opacity: 0.8;
    }
    100% {
        background-position: 100% 50%;
        opacity: 0.3;
    }
}
@keyframes pulsar {
    0% {
        border-color:var(--cor-roxo-2--);
    }
    50% {
        border-color:var(--cor-roxo-1--);
    }
    100% {
        border-color: var(--cor-roxo-3--);
    }
}
/* Media Queries */
@media (max-width: 1200px) {
    .sobre-content {
        padding: 150px;
        flex-direction: column;
        align-items: center;
    }

    .sobre h1, .sobre h2 {
        font-size: 6rem;
    }

    .sobre p {
        font-size: 1.4em;
        max-width: 90%;
    }

    .sobre-img-div {
        max-width: 600px;
    }
}

@media (max-width: 900px) {
    .sobre-content {
        padding: 100px;
        flex-direction: column;
        align-items: center;
    }

    .sobre h1, .sobre h2 {
        font-size: 4.5rem;
    }

    .sobre p {
        font-size: 1.2em;
        max-width: 90%;
    }

    .sobre-img-div {
        max-width: auto;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .sobre-content {
        padding: 50px;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .sobre h1, .sobre h2 {
        font-size: 2.5rem;
    }

    .sobre p {
        font-size: 1em;
        max-width: 100%;
        text-align: justify;
    }

    .sobre-img-div {
        max-width: 280px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

@media (min-width: 1920px) {
    .sobre-content {
        padding: 350px;
    }

    .sobre h1, .sobre h2 {
        font-size: 12rem;
    }

    .sobre-img-div {
        max-width: 600px;
    }
}