:root {
    --fundo--:#151312;
    --fundo--claro:#1C1A19    ;
    --letras--:#fff;
    --cor-roxo-1--:#4F46E5;
    --cor-roxo-2--:#23036A;
    --cor-roxo-3--:#30009C;
    --cor-roxo-4--: #7C4DFF; /* Roxo médio vibrante */
    --cor-roxo-5--: #D1C4E9; /* Roxo claro pastel */
    --cor-roxo-6--: #B388FF; /* Roxo lavanda */
    --cor-roxo-7--: #6A1B9A; /* Roxo escuro intenso */
    --cor-roxo-8--: #9575CD; /* Roxo suave */
    --cor-roxo-9--: #EDE7F6; /* Roxo muito claro */
    --cor-roxo-10--: #1A237E; /* Roxo quase preto */

    --cor-rosa--:#FF4181;
    --cor-rosa-1--: #E91E63; /* Rosa vibrante */
    --cor-rosa-2--: #880E4F; /* Rosa escuro */
    --cor-rosa-3--: #F8BBD0; /* Rosa claro pastel */
    --cor-rosa-4--: #F06292; /* Rosa médio */

    --cor-verde-agua--:#86FFF4;
    --cor-cinza--:#353334;
    --cor-cinza-p--:#998F8F;
}

body, html{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--fundo--);
    scroll-behavior: smooth; /* Suaviza a rolagem */
    overflow: hidden; /* Evita barras de rolagem */
}
/* section {
    height: 100vh; 
    justify-content: center;
    align-items: center;
  } */

  h1{
    font-weight: 600;
  }
/* @media (max-width: 576px) {
  body, html {
      overflow: auto;
      scroll-behavior: auto; 
  }
  section {
      height: auto;
}

@media (min-width: 577px) and (max-width: 768px) {
  body, html {
      overflow: auto;
  }
  section {
      height: auto;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body, html {
      overflow: auto;
  }
  section {
      height: auto;
}
@media (min-width: 1025px) {
  section {
      height: auto;
} */
  .poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  