:root {
    --fundo--:#151312;
    --fundo--claro:#1C1A19    ;
    --letras--:#fff;
    --cor-roxo-1--:#4F46E5;
    --cor-roxo-2--:#23036A;
    --cor-roxo-3--:#30009C;
    --cor-rosa--:#FF4181;
    --cor-verde-agua--:#86FFF4;
}

body, html{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--fundo--);
    scroll-behavior: smooth; /* Suaviza a rolagem */
    overflow: hidden; /* Evita barras de rolagem */
}
section {
    height: 100vh; /* Cada seção ocupa 100% da altura da tela */
    justify-content: center;
    align-items: center;
  }
