:root {
    --primary-bg: #7a82b4;
    --secondary-bg: #d5e5e7;
    --description: #240b0b;

    --fundo--:#151312;
    --fundo--claro:#1C1A19    ;
    --letras--:#fff;
    --cor-roxo-1--:#4F46E5;
    --cor-roxo-2--:#23036A;
    --cor-roxo-3--:#30009C;
    --cor-rosa--:#FF4181;
    --cor-verde-agua--:#86FFF4;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--fundo--);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 520;
}

h1 {
    font-size: 43px;
}
.navbar {
    padding-top: 50px;
    display: flex;
    justify-content: center; /* Alinha os itens da navbar ao centro */
    background-color: var(--fundo--claro);
    padding: 1px;
    font-size: 1.3em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 50%; /* Centraliza a posição horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para ficar centralizado */
    width: auto;
    z-index: 1000;
    border-radius: 20px;
    top: 30px;
    height: auto;
    flex: none;
}


.itens {
    display: inline-flex;
    list-style: none;
    justify-content: center;
    gap: 15px;
    padding-right: 60px;
}
.itens li{
    position: relative;
}


.itens a {
    margin: 0 25px;
    text-decoration: none;
    color: var(--letras--);
    font-size: 1.2em;
    font-weight: 400;
    justify-content: center;

}
.tooltip {
    position: absolute;
    top: 140%; /* Exibe acima do ícone */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition:  0.2s ease, visibility 0.5s ease;
    pointer-events: none;
    
}
.itens li:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.itens a.active::after {
    width: 100%;
    background-color: var(--cor-roxo-1--); /* Cor de destaque para a seção ativa */
}


.itens a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--cor-roxo-1--);
    left: 0;
    bottom: -5px;
    transition: width 0.2s ease;
}

.itens a:hover::after {
    width: 100%;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}
.sobre h1 {
    font-size: 5.0rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg,var(--cor-roxo-1--) , var(--cor-rosa--));
    background-size: 100%;
    -webkit-background-clip: text;
    animation: fadeBackground 5s infinite alternate;
    margin-bottom: 9px;
}

@keyframes fadeBackground {
    0% {
        background-position: 0% 50%;
        opacity: 0.3;
    }
    50% {
        background-position: 50% 50%;
        opacity: 0.8;
    }
    100% {
        background-position: 100% 50%;
        opacity: 0.3;
    }
}

.sobre-content {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Espaça os itens horizontalmente */
    padding: 190px;
}
.sobre-text {
    flex: 1; /* Ocupa o espaço restante */
}

.sobre-img-div {
    flex: 0 0 400; /* Define a largura fixa para a imagem */
    max-width: 250px; /* Limita o tamanho máximo */
}
@keyframes pulsar {
    0% {
        border-color:var(--cor-roxo-2--);
    }
    50% {
        border-color:var(--cor-roxo-1--);
    }
    100% {
        border-color: var(--cor-roxo-3--);
    }
}

.sobre-img-div img {
    width: 100%;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    animation: pulsar 2s infinite; /* Aplica a animação */
}

.sobre {
    background-color: var(--fundo--); /* Cor de fundo para destacar */
    padding: 30px 60px;
    color: var(--letras--);
}
.sobre h2{
    font-size: 3.2em;
    margin-top: 10px ;
    margin-bottom: 5px;
    
}
.sobre p{
    font-size: 1.5em;
}
.social-icon-sobre i {
    font-size: 2.5rem; /* Tamanho do ícone */
    background: linear-gradient(50deg, var(--cor-roxo-1--), var(--cor-rosa--));
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    color: transparent; /* Torna o texto transparente para exibir o gradiente */
    animation: fadeBackground 5s infinite alternate; /* Aplica a animação */
    margin: 0 10px; /* Espaçamento entre ícones */
    transition: transform 0.3s; /* Animação ao passar o mouse */
    
}

.social-icon-sobre i:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}

@keyframes fadeBackground {
    0% {
        background-position: 0% 50%;
        opacity: 0.3;
    }
    50% {
        background-position: 50% 50%;
        opacity: 0.8;
    }
    100% {
        background-position: 100% 50%;
        opacity: 0.3;
    }
}


/* Estilo da seção linguagens */
.linguagens {
    text-align: center;
    background-color: var(--fundo--);
    color: var(--letras--);
}

/* Título da seção */
.linguagens h1 {
    font-size: 4.0rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, var(--cor-roxo-1--), var(--cor-rosa--));
    background-size: 100%;
    -webkit-background-clip: text;
    animation: fadeBackground 5s infinite alternate;
    margin-bottom: 5px;
}

/* Animação de fundo do título */
@keyframes fadeBackground {
    0% {
        background-position: 0% 50%;
        opacity: 0.3;
    }
    50% {
        background-position: 50% 50%;
        opacity: 0.8;
    }
    100% {
        background-position: 100% 50%;
        opacity: 0.3;
    }
}

/* Estilo dos ícones */
.linguagem i {
    font-size: 3.5rem;
}

/* Estilo do container das ferramentas */
.linguagens-ferramentas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 200px;
}

.linguagem {
    flex: 1 1 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    padding: 20px;
    border: 2px solid var(--cor-roxo-1--);
    border-radius: 8px;
    text-align: center;
    width: 150px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card1:hover {
    border-color: #007BFF;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
    transform: translateY(-5px);
}

.card1 i {
    font-size: 60px;
    color: var(--letras--)
}

.card1 h2 {
    margin-top: 10px;
    font-size: 18px;
    color: var(--letras--);
}


.projetos {
    display: flex;
    background-color: var(--fundo--);
    position: relative;
    color: var(--letras--);
    padding: 190px;
}

.card {
    position: absolute;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.card img {
    width: 512px;
    width: 100%;
    border-radius: 15px;
}

.cards {
    position: relative;
    width: 512px;
}
input{
    display: none;
}


#item-1:checked ~ .cards #img-5,
#item-2:checked ~ .cards #img-1,
#item-3:checked ~ .cards #img-2,
#item-4:checked ~ .cards #img-3,
#item-5:checked ~ .cards #img-4 {
    transform: translateX(-40%) scale(0.8);
    z-index: 1;
}

#item-1:checked ~ .cards #img-4,
#item-2:checked ~ .cards #img-5,
#item-3:checked ~ .cards #img-1,
#item-4:checked ~ .cards #img-2,
#item-5:checked ~ .cards #img-3 {
    transform: translateX(-70%) scale(0.5);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #img-3,
#item-2:checked ~ .cards #img-4,
#item-3:checked ~ .cards #img-5,
#item-4:checked ~ .cards #img-1,
#item-5:checked ~ .cards #img-2 {
    transform: translateX(70%) scale(0.5);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #img-2,
#item-2:checked ~ .cards #img-3,
#item-3:checked ~ .cards #img-4,
#item-4:checked ~ .cards #img-5,
#item-5:checked ~ .cards #img-1 {
    transform: translateX(40%) scale(0.8);
    z-index: 1;
}

#item-1:checked ~ .cards #img-1,
#item-2:checked ~ .cards #img-2,
#item-3:checked ~ .cards #img-3,
#item-4:checked ~ .cards #img-4,
#item-5:checked ~ .cards #img-5 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 2;
}

/* DESCRIÇÃO ##### */

.description {
    width: 100%;
    height: 80px;
    background-color: var(--secondary-bg);
    border-radius: 15px;
    padding: 5px 12px;
    display: none;
    color: var(--description);
}

.desc-title {
    display: flex;
    justify-content: space-between;
}

.desc-title h2 {
    font-size: 18px;
    letter-spacing: -0.8px;
}

.desc-sub {
    font-size: 14px;
}

#item-1:checked ~ .cards #img-1 .description,
#item-2:checked ~ .cards #img-2 .description,
#item-3:checked ~ .cards #img-3 .description,
#item-4:checked ~ .cards #img-4 .description,
#item-5:checked ~ .cards #img-5 .description {
    display: block;
}

/* Formulário */
.formulario {
    background-color: #002bc9;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 20.84px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formulario h4 {
    font-size: 1.6em;
    margin-bottom: 1em;
    color: white;
    text-transform: uppercase;
}

.contato-class {
    align-items: center;
    background-color: var(--fundo--claro);
    color: var(--letras--);
}

.contato-text {
    font-size: 1.0em;
    margin-bottom: 1em;
    color: var(--letras--);
    text-transform: uppercase;
}


label {
    display: block;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0.1em;
}

/*texto formulario */
input,
textarea {
    font: 1em;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 0.6em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
    resize: none;
}

textarea:focus {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

textarea:focus {
    height: auto;
    min-height: 150px;
}

input:hover,
textarea:hover {
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1);
}

input::placeholder,
textarea::placeholder {
    color: #000000;
    font-style: italic;
}

/*botao formulario*/
.button {
    text-align: center;
    padding-top: 25px;

}

button {
    border-radius: 18px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    height: 55px;
    width: 250px;
    font-size: large;
    padding: 0.5em 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: rgb(18, 216, 0);
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1);
    color: #ffffff;
    text-decoration: wavy;

}

button:active {
    background-color: rgb(54, 27, 163);
    transform: translateY(0);
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.whatsapp-button a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.whatsapp-button a:hover {
    background-color: #128C7E;
}

.whatsapp-button img {
    width: 100%;
    height: 100%;
    padding: 0px;
}

footer {
    background-color: var(--fundo--); /* Cor de fundo do rodapé */
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    color: var(--letras--);
}
/* Ícones e links sociais */
.footer-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px; 
    color: var(--letras--);
}

.footer-content p {
    margin: 5px 0;
    font-size: 1.2em;
}

.footer-content a {
    text-decoration: none;
    color:var(--letras--);
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #007BFF; /* Cor de destaque ao passar o mouse */
}

.footer-content .social-icon i {
    font-size: 1.5em; /* Tamanho do ícone */
    color: #E4405F; /* Cor do Instagram */
    margin-top: 10px;
    transition: color 0.3s ease;
}

.footer-content .social-icon i:hover {
    color: #C13584; /* Cor ao passar o mouse */
}
.social-icon {
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    display: flex;
    gap: 8px;
    transition: color 0.3s ease;
}
.social-icon i {
    font-size: 1.5em;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    color: #007BFF;
}

.social-icon i:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon i.fa-linkedin {
    color: #0A66C2;
}

.social-icon i.fa-github {
    color: #ffffff;
}

.social-icon i.fa-instagram {
    color: #E4405F;
}

/* Texto de copyright */
.footer-copyright {
    font-size: 1.5em;
    color: #666;
}

.footer-copyright p {
    margin: 0;
}
